// ScrollMarks - occurrence markers next to the Notepad++ scrollbar
// Copyright (C) 2026 Hong-Seungmin
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version. See the LICENSE file for details.

#include <windows.h>
#include "resource.h"
#include "Version.h"

#pragma code_page(65001)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_SETTINGS DIALOGEX 0, 0, 300, 391
STYLE DS_SETFONT | DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ScrollMarks Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Matching", -1, 7, 7, 286, 131
    CONTROL         "&Show markers next to the scrollbar", IDC_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 20, 272, 10
    CONTROL         "Only while Notepad++ s&mart highlighting is enabled", IDC_FOLLOW_SMART, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 33, 272, 10
    LTEXT           "Match &case:", -1, 14, 50, 84, 8
    COMBOBOX        IDC_MATCH_CASE, 102, 48, 130, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Whole word only:", -1, 14, 66, 84, 8
    COMBOBOX        IDC_WHOLE_WORD, 102, 64, 130, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Minimum &length:", -1, 14, 82, 84, 8
    EDITTEXT        IDC_MIN_LENGTH, 102, 80, 36, 12, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "characters", -1, 142, 82, 80, 8
    LTEXT           "Ma&ximum markers:", -1, 14, 98, 84, 8
    EDITTEXT        IDC_MAX_MARKERS, 102, 96, 50, 12, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "0 = no limit", -1, 156, 98, 80, 8
    CONTROL         "Mark the word at the caret when nothing is selected", IDC_WORD_AT_CARET, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 112, 272, 10
    CONTROL         "Mark large files even when Notepad++ restricts smart highlighting", IDC_LARGE_FILES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 125, 272, 10

    GROUPBOX        "Markers", -1, 7, 144, 286, 96
    LTEXT           "&Bar width:", -1, 14, 157, 84, 8
    EDITTEXT        IDC_BAR_WIDTH, 102, 155, 36, 12, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px", -1, 142, 157, 14, 8
    CONTROL         "Automatic", IDC_BAR_WIDTH_AUTO, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 162, 156, 100, 10
    LTEXT           "Minimum marker &height:", -1, 14, 173, 84, 8
    EDITTEXT        IDC_MARKER_HEIGHT, 102, 171, 36, 12, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px", -1, 142, 173, 14, 8
    LTEXT           "&Occurrences:", -1, 14, 189, 84, 8
    PUSHBUTTON      "", IDC_OCCURRENCE_COLOR, 102, 187, 36, 13, BS_OWNERDRAW | WS_TABSTOP
    CONTROL         "Automatic", IDC_OCCURRENCE_COLOR_AUTO, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 162, 189, 120, 10
    LTEXT           "Current occu&rrence:", -1, 14, 206, 84, 8
    PUSHBUTTON      "", IDC_CURRENT_COLOR, 102, 204, 36, 13, BS_OWNERDRAW | WS_TABSTOP
    CONTROL         "Automatic", IDC_CURRENT_COLOR_AUTO, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 162, 206, 120, 10
    LTEXT           "Backgro&und:", -1, 14, 223, 84, 8
    PUSHBUTTON      "", IDC_BACKGROUND_COLOR, 102, 221, 36, 13, BS_OWNERDRAW | WS_TABSTOP
    CONTROL         "Automatic", IDC_BACKGROUND_COLOR_AUTO, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 162, 223, 120, 10

    GROUPBOX        "Click and preview", -1, 7, 246, 286, 116
    CONTROL         "Clicking a marker selects the occurrence", IDC_SELECT_ON_CLICK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 259, 272, 10
    CONTROL         "Clicking a marker centers its line", IDC_CENTER_ON_CLICK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 272, 272, 10
    CONTROL         "Clicking an empty spot scrolls there", IDC_SCROLL_ON_EMPTY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 285, 272, 10
    CONTROL         "Show a &preview when hovering a marker", IDC_PREVIEW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 298, 272, 10
    LTEXT           "Con&text lines:", -1, 14, 313, 84, 8
    EDITTEXT        IDC_CONTEXT_LINES, 102, 311, 36, 12, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "above and below", -1, 142, 313, 100, 8
    LTEXT           "Hover &delay:", -1, 14, 329, 84, 8
    EDITTEXT        IDC_PREVIEW_DELAY, 102, 327, 36, 12, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "ms", -1, 142, 329, 14, 8
    CONTROL         "Automatic", IDC_PREVIEW_DELAY_AUTO, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 162, 328, 100, 10
    LTEXT           "Preview wi&dth:", -1, 14, 345, 84, 8
    EDITTEXT        IDC_PREVIEW_WIDTH, 102, 343, 36, 12, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "% of the editor", -1, 142, 345, 100, 8

    PUSHBUTTON      "R&eset to defaults", IDC_RESET, 7, 370, 76, 14
    DEFPUSHBUTTON   "OK", IDOK, 186, 370, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 243, 370, 50, 14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SCROLLMARKS_VERSION_MAJOR, SCROLLMARKS_VERSION_MINOR, SCROLLMARKS_VERSION_PATCH, 0
 PRODUCTVERSION SCROLLMARKS_VERSION_MAJOR, SCROLLMARKS_VERSION_MINOR, SCROLLMARKS_VERSION_PATCH, 0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Hong-Seungmin"
            VALUE "FileDescription", "ScrollMarks - occurrence markers next to the Notepad++ scrollbar"
            VALUE "FileVersion", SCROLLMARKS_VERSION_STRING
            VALUE "InternalName", "ScrollMarks"
            VALUE "LegalCopyright", "Copyright (C) 2026 Hong-Seungmin. GNU GPL v3."
            VALUE "OriginalFilename", "ScrollMarks.dll"
            VALUE "ProductName", "ScrollMarks"
            VALUE "ProductVersion", SCROLLMARKS_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
